<div class="card text-center">
    <div class="card-header">
      Inspirational center
    </div>
    <div class="card-body">
      <h5 class="card-title">Inspiring moments</h5>
      <p class="card-text">Find the most comforting mesages here for your relaxation.</p>
      <a href="#" class="btn btn-primary">About Inspirational</a>
    </div>
    <div class="card-footer text-muted">
      Designed by Koome | @2020 | <a href="http://prosdianhost.co.ke">Prosdian Technologies</a>
    </div>
  </div>