<div class="container">
  <h1>Inspirational Quotes</h1>
  <hr>
  <div class="quot">
    <div>
      <div *ngFor='let quote of quotes;let i = index' class="new">
        <div>
          <h5 id="{{i}}">{{quote.quoteTitle}}</h5>
          <hr>
          <div *ngIf='quote.showQuoteDescription'>
            <button class="cal btn btn-success fa fa-thumbs-up" (click)="upVote()">Like</button>
        
          <button class="cal btn btn-danger fa fa-thumbs-down" (click)="downVote()">Dislike</button>
            <app-quote [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote>

          </div>
          <button (click)='toggleDetails(i)' class="btn btn-primary">show Quote</button>
        </div>

        <div>
          
        </div>

      </div>
      <div>
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
  </div>
  

</div>